<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="./bootstrap.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
    testdox="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
    <testsuites>
        <testsuite name="unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>Integration</directory>
        </testsuite>
        <testsuite name="e2e">
            <directory>E2E</directory>
        </testsuite>
        <testsuite name="smoke">
            <directory>Smoke</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../app</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="RABBITMQ_HOST" value="skyex-api-gateway-dev-rabbitmq"/>
        <env name="RABBITMQ_PORT" value="5672"/>
        <env name="RABBITMQ_USERNAME" value="guest"/>
        <env name="RABBITMQ_PASSWORD" value="guest"/>
        <env name="API_URL" value="http://skyex-arbitrage-dev-api"/>
    </php>
</phpunit>
